* {
    box-sizing: border-box;
}

body {
    font-family: Libre bskerville;
    margin: 0;
    background-color:		#c3d6d2 ;
}
.body{
  font-family: Libre bskerville;
  margin: 20;
  background-color:		#c3d6d2 ;

}

.header {
    padding: 10px;
    background:	#5ea8a7;
    color: white;

}


.header h1 {
    font-size: 30px;
    text-align:center;

}



.navbar {
    overflow: hidden;
    background-color:	#c3d6d2;

}


.navbar a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration:none ;
    width:33.33%;
  }
  .navbar a:hover{
   color: white;
   background-color:#c3d6d2;
  }
  .button {
      background-color:#5ea8a7;
      border: none;
      color:white ;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      cursor:pointer;
    }
  .column{
    float:left;
    width:50%;
    padding:10px;
  }
  .row:after{
    content:"";
    display:table;
    clear:both;
  }
